﻿@model TelefonRehberi.Entities.Calisan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <h3 class="text-primary">Bu çalışanı silmek istiyor musunuz ?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Departman.DepartmanAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Departman.DepartmanAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Soyad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Soyad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TelefonNumarası)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TelefonNumarası)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Yonetici)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Yonetici)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" /> |
                    <a href="/Calisan/Index" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                </div>
            }
        </div>
    </div>
</div>
